@import "_normalize";
@import "_variables";


html {

  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}


.body {
  
  display: grid;
  grid-template-areas: "header"
  "content  "
  "footer "; 
  grid-template-columns: 1fr ;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  width:  100%;
  max-width: 700px;
  margin: 10px auto;

  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
  background-attachment: fixed;


}



.navigation {
  font-size: 25px;
  top: 0px;
  padding: 0px;  
  font-family: lazer84;

&__list {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
}
.navigation__link {

  text-decoration: none;
  color: #f9c802;
  text-shadow: 1px 1px 0 #e30613;
&:hover{

  background: #e30613;
}
}

.main {
  position: static;
  max-width: 700px;
  margin: 10px auto;
  padding: 25px;
}

.title {
  margin-bottom: 50px;


&__header {

  font-size: 45px;
  font-family: lazer84;
  color: #f9c802;
  text-shadow: 2px 2px 0 #e30613;
  text-align: center;
}
}


.about {
  color: #80ced7;
  font-size: 15px;

&__header {

  color: #fff;
  font-family: rubik;
  text-align: center;
  font-size: 30px;

}
}
.about__paragraph {

  font-size: 15px;
  font-family: lazer84;
  color: #f9c802;

}

.about__nav {
  text-decoration: none;
  font-size: 15px;
  font-family: lazer84;
  color: black;
  text-decoration: none;
  font-weight: 900;

}

.diary {
  color: #fff;
  font-family: rubik;


&__header {
  color: #fff;
  font-family: rubik;
  text-align: center;
  font-size: 30px;

}
}

.section__day{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  
}

.day {
  font-size: 15px;
  font-family: lazer84;
  color: #f9c802;

}

.day__header::before{

  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f9c802;
  margin-right: 5px;
}


.day__link {
  font-size: 15px;
  font-family: lazer84;
  color: black;
  text-decoration: none;
  font-weight: 900;
}




.footerr {

  font-weight: 900;
  text-align: center;
&__title {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #f9c802;
  font-size: 20px;
  font-family: lazer84;
  text-shadow: 1px 1px 0 #e30613;
}
}


.box {

  position: sticky;
  top: 10px;

  color: #f9c802;
  text-shadow: 1px 1px 0 #e30613;
  font-family: lazer84;
  font-size: 50px;

  box-sizing: border-box;
  padding: 10px;

}















.grid{

  display: grid;
  grid-template-areas: "header"
  "content  "
  "footer ";
  grid-template-columns: 1fr ;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  width:  100%;
  max-width: 700px;
  margin: 10px auto;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
  background-attachment: fixed;
  
}

.navigation-one{

  grid-area: header;
  text-align: center;
 
}
.navigation-one__list{

  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 25px;
}

.main-one{

  grid-area: content;
  

}

.footer-one{

  grid-area: footer;
  text-align: center;

}

.article__header{

  text-align: center;
  color: #f9c802;
  text-shadow: 2px 2px 0 #e30613;
}


.gridd{
  display: grid;
  grid-template-columns: 1fr ;
  grid-column-gap: 16px;
  grid-row-gap: 16px;

}

@media (min-width:641px) {

  
 .gridd{

     grid-template-columns: 1fr 1fr;
 }

 .navigation__switcher{

  display: none;
 }
 
}


@media (max-width:640px){

.navigation__list{

  flex-direction: column;
  display: none;
}
.navigation__list--visible{

  display: flex;
  z-index: -1;
}
 

 .navigation__item{
     margin: 16px;
     
 }

 .navigation__switcher{

  border: none;
  background: none;
  font-size: 20px;


}


}